extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
            h1 Tribu Zubu 
            h2 - All about me!
          p Between the 13th and 16th century Cebu then known as Zubu 

    section(class="main-content")
      h3 Stood the test of time
      p It is home to the oldest street in the country: Colon Street.
      h3 Constantly learning
      p It is where you can find the oldest school in the Philippines and Asia – the University of San Carlos.
      h3 Always prepared
      p It is also in Cebu City where you can find the oldest and smallest tri-bastion fort in the Philippines: Fort San Pedro.
      h3 Able to hold its ground
      p Cebu City played a big role in World War II – as it served as the fighting grounds for the Battle of Cebu City.
      h3 Has a festive side
      p Cebu City has its own version of Brazil’s Mardi Gras, held every January (The Sinulog Festival).
