extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1 Global Zeal 
              h2 Employee Directory
          p
            | The GZ Employee Directory includes contact information for Developers, Testers, and others who have an employee account, such as contract employees
            |.

    section(class="main-content")
      h3 What the app can do:
      ol(class="round")
          li(class="one")
              h5 Employee List
              p 
                | This app can list all employees within Global Zeal
          li(class="two")
              h5 Profile Page
              p 
                | Provides a space where users can place information about themselves.
          li(class="three")
              h5 Custom Field Control
              p 
                | Admins are able to define fields to be included in each of the User Profiles.