div(style='width: 15em; padding: 0em .5em .5em .5em;')
    .ui-widget-header.ui-corner-all(style='padding: .5em .5em .5em .5em; font-weight: normal; margin-bottom: .25em; min-height: 5em; outline: none;', onclick='this.contentEditable=\'true\';') 
    div(style='text-align: right;')
      button broadcast
    hr
    div
      .ui-widget-header.ui-corner-all(style='padding: .5em .5em .5em .5em; font-weight: normal; margin-bottom: .25em;')
        | Name wants to change his/her file
        br
        br
        | (click to view changes)
      .ui-widget-header.ui-corner-all(style='padding: .5em .5em .5em .5em; font-weight: normal; margin-bottom: .25em;')
        | Name wants to change his/her file
        br
        br
        | (click to view changes)
      .ui-widget-header.ui-corner-all(style='padding: .5em .5em .5em .5em; font-weight: normal; margin-bottom: .25em;')
        | Name wants to change his/her file
        br
        br
        | (click to view changes)
      .ui-widget-header.ui-corner-all(style='padding: .5em .5em .5em .5em; font-weight: normal; margin-bottom: .25em;')
        | Name wants to change his/her file
        br
        br
        | (click to view changes)
